<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
table,th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

</style>
<body>
    <H1>Index page</H1>
    <table>
        <tr>
            <td>Name</td>
            <td>Rollno</td>
            <td>Dsa</td>
            <td>Dad</td>
            <td>Php</td>
        </tr>
        <tr>
            <td>{{u1.name}}</td>
            <td>{{u1.roll_no}}</td>
            <td>{{u1.marks.dsa}}</td>
            <td>{{u1.marks.dad}}</td>
            <td>{{u1.marks.php}}</td>
        </tr>   <tr>
            <td>{{u2.name}}</td>
            <td>{{u2.roll_no}}</td>
            <td>{{u2.marks.dsa}}</td>
            <td>{{u2.marks.dad}}</td>
            <td>{{u2.marks.php}}</td>
        </tr>
       
    </table>
</body>
</html>