<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <div style="margin-left: 2rem; border: 2px; border-style:groove dashed; border-color: black;">
            <h1 style="color:red;">Index</h1>

            <div style="display:grid;">
                <a href="content" style="color: black; text-decoration: none;">Content</a>
                <a href="http://127.0.0.1:8000/about" style="color: black; text-decoration: none;">About</a>
                <a href="feedback" style="color: black; text-decoration: none;">Feedback</a>
                <a href="about" style="color: black; text-decoration: none;">About</a>
            </div>
        </div>
      
    </div>
</body>
</html>